# This file defines code ownership for the repository.
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more information, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything in the repo
* @jayjanssen
